doctype html
html
    head
        meta(charset="utf-8")
        title Asim Shrestha
        meta(name="theme-color", content="#46538b")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no")
        meta(property="og:title", content="Asim Shrestha")
        meta(property="og:type", content="profile")
        meta(property="og:url", content="https://asimshrestha2.github.io/")
        meta(property="og:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@Asim_Shresth")
        meta(name="twitter:title", content="Asim Shrestha")
        meta(name="twitter:description", content="Asim Shrestha's Portfolio.")
        meta(name="twitter:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(rel="icon", href="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(href="https://fonts.googleapis.com/css?family=Abel", rel="stylesheet")
        link(rel="stylesheet", href="./css/main.css")
    body
        -
            var boxes = [
                {title: "About", data_json:`{
                    "x": 60,
                    "y": 20
                }`}, 
                {title: "Skills", data_json:`{
                    "x": 80,
                    "y": 50
                }`}, 
                {title: "Contact", content:"Email: asimshrestha2@gmail.com", data_json:`{
                    "x": 60,
                    "y": 80
                }`}, 
                {title: "Social", content:"Twitter: @asim_shresth", data_json:`{
                    "x": 32,
                    "y": 50
                }`}, 
                {title: "Projects", data_json:`{
                    "x": 20,
                    "y": 80
                }`}
            ];
        .background.full-page-pin
            .image.full-page-pin
                img#profile-image(src="imgs/Asim_Ymir.png",alt="", srcset="")
            svg.full-page-pin.lines
        .boxes.full-page-pin
            each box in boxes
                .box(data-json=box.data_json, id=box.title.toLowerCase())
                    .title=box.title
                    if box.content
                        .content=box.content
        script(src="js/main.js")