doctype html
html
    head
        meta(charset="utf-8")
        title Asim Shrestha
        meta(name="theme-color", content="#46538b")
        meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no")
        meta(property="og:title", content="Asim Shrestha")
        meta(property="og:type", content="profile")
        meta(property="og:url", content="https://asimshrestha2.github.io/")
        meta(property="og:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        meta(name="twitter:card", content="summary")
        meta(name="twitter:site", content="@Asim_Shresth")
        meta(name="twitter:title", content="Asim Shrestha")
        meta(name="twitter:description", content="Asim Shrestha's Portfolio.")
        meta(name="twitter:image", content="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(rel="icon", href="https://asimshrestha2.github.io/imgs/Asim_Ymir.png")
        link(href="https://fonts.googleapis.com/css?family=Abel", rel="stylesheet")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./css/main-small.css", media="screen and (max-width:600px)")
    body
        -
            var sections = [
                {title: "About", data_json:`{ "x": 60, "y": 20 }`, 
                    items: [{title: "Name", image: "imgs/Asim_Ymir.png", description: "Asim Shrestha"}]
                }, 
                {title: "Skills", data_json:`{ "x": 80, "y": 50 }`,
                    items: [
                        {title: "C#", description: "++__"},
                        {title: "C/C++", description: "++__"},
                        {title: "Java", description: "+++_"},
                        {title: "Javascript", description: "+++_"},
                        {title: "HTML/CSS", description: "++++"},
                        {title: "PHP", description: "+++_"},
                        {title: "Node.js", description: "+++_"},
                        {title: "Python", description: "+++_"},
                        {title: "SQL", description: "+++_"},
                        {title: "Go", description: "++__"}
                    ]
                }, 
                {title: "Social", data_json:`{ "x": 32, "y": 50 }`,
                    items: [
                        {title: "Github", image: "imgs/social/Github.png", description: "asimshrestha2", link: "https://github.com/asimshrestha2"},
                        {title: "CodePen", image: "imgs/social/CodePen.png", description: "imanpro", link: "https://codepen.io/imanpro/"},
                        {title: "Twitter", image: "imgs/social/Twitter.png", description: "@Asim_Shresth", link: "https://twitter.com/Asim_Shresth"},
                        {title: "Twitch", image: "imgs/social/Twitch.png", description: "iManProNation", link: "https://www.twitch.tv/imanpronation"},
                        {title: "Sketchfab", image: "imgs/social/sketchfab.png", description: "asimshrestha2", link: "https://sketchfab.com/asimshrestha2"}
                    ]
                }, 
                {title: "Projects", data_json:`{ "x": 20, "y": 80 }`,
                    items: [
                        {title: "Twitch Extension", image: "imgs/projects/TwitchExtension.png", description: "Created a Twitch Extension for SMITE Game, which shows the stats of the match for a streamer that is currently in a game of SMITE.", link: "https://www.twitch.tv/ext/1ho24kr7crna6qq1997yk9egdybhde-0.0.7"},
                        {title: "Dialogue-tree", image: "imgs/projects/DialogueTree.PNG", description: "A Web App that can create a Dialogue Tree. It can export and import data, also can create links for each dialogue.", link: "https://asimshrestha2.github.io/dialogue-tree/"},
                        {title: "Find More", description: "* github.com/asimshrestha2", link: "https://github.com/asimshrestha2?tab=repositories"}
                    ]
                }, 
                {title: "Contact", content:"Email: <a href=\"mailto:asimshrestha2@gmail.com\">asimshrestha2@gmail.com</a>", data_json:`{ "x": 60, "y": 80 }`}
            ];
        .background.full-page-pin
            .image.full-page-pin
                img#profile-image(src="imgs/Asim_Ymir.png",alt="", srcset="")
            svg.full-page-pin.lines
        .boxes.full-page-pin
            each item in sections
                .box(data-json=item.data_json, id=item.title.toLowerCase() style=(item.items == null) && 'cursor: auto;')
                    .title=item.title
                    if item.content
                        .content!=item.content
        .pages
            each item in sections
                if item.items
                    .page(id=item.title.toLowerCase() + "-page")
                        .close-btn
                        .title=item.title
                        .cards
                            each i in item.items
                                .card
                                    if i.image
                                        .image
                                            img(src=i.image, alt=i.title)
                                    .title=i.title
                                    .description=i.description
                                    if i.link
                                        a(href=i.link)
                                            .full-page-pin
        script(src="js/main.js")